[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "stub_bdwgc"]
	path = stub_bdwgc
	url = https://github.com/mgood7123/stub_bdwgc
[submodule "mps_gc"]
	path = mps_gc
	url = https://github.com/mgood7123/mps
	branch = main
[submodule "STC"]
	path = STC
	url = https://github.com/stclib/STC
[submodule "llvm_mcjit"]
	path = llvm_mcjit
	url = https://github.com/mgood7123/llvm_16
[submodule "testBuilder"]
	path = testBuilder
	url = https://github.com/mgood7123/testBuilder
